<!-- stores list template -->

{{ $navMenu := .Site.Menus.nav }} {{ partial "header" (dict "navMenu" $navMenu)}}

<div class="page-container">

    <div class="image-container page-top"></div>

    <div class="page-content">
        <h1>{{.Title}}</h1>
        
            <div>{{.Content}}</div>

            
        
            <h4 class="country">Canada</h4> 
            {{ range .Pages.GroupByParam "state"}}       
                {{ range sort (where .Pages ".Params.country" "Canada") ".Params.city" }}
                    {{ partial "storelisting" . }}
                {{end}}
            {{end}}
        
            <h4 class="country">United States</h4> 
            
            {{ range .Pages.GroupByParam "state"}}
                {{ range sort (where .Pages ".Params.country" "United States") ".Params.city"}}
                    {{ partial "storelisting" . }}
                {{end}}
            {{end}}

            <div class="pin-footer"></div>
    </div>    
</div>

{{partial "footer"}}

<script src="/js/stateHeadings.js"></script>
</body>

</html>