<!doctype html>
<html lang="en-US">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113158607-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-113158607-1');
    </script>
     <!-- Bing -->
    <meta name="msvalidate.01" content="6C4C326F46CDF57985DD96BB0C448661" />
     <!-- Yandex -->
    <meta name="yandex-verification" content="97c2b07497fd87cf" />

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Assistant:400,700" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <title>iAMart Art Materials Stores</title>

    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>

<body>
    <div class="header">
            <a href="/"><img src="/images/iamart_color-logo.jpg" alt="iAMart logo" height="75" width="170" class='logo'/></a>

    <!-- ***** NAVIGATION ***** -->
    <nav class="navbar">
        <ul>
        {{ range .navMenu }}
        <li>
        <a href="{{.URL}}"> {{lower .Name}} </a>
        </li>
        {{end}}
        </ul>
    </nav>
    <!-- ===== end navigation ===== -->

</div>