<section class="store-listing col-sm-4">

    <span class="state-name">{{.Params.state}}</span>
    <br />
    <span class="city">{{.Params.city}}</span>
    <br />
    <span class="store-name">{{.Title}}</span>
    <br />
    {{.Params.address}}
    <br />
    <span class="phone">{{.Params.phone}}</span>
    <br />
    <a href="{{.Params.weburl}}" target="_blank" class="storesite">{{.Params.website}}</a>
    
    {{ if isset .Params "weburl2" }}<br /> <a href="{{.Params.weburl2}}" target="_blank" class="storesite">{{.Params.website2}}</a> {{end}}
    
    {{ if eq .Params.ecommerce true}}
    <a href="{{.Params.weburl}}" target="_blank"><div class="glyphicon glyphicon-shopping-cart"></div></a>
    {{end}}

</section>