@import url('https://fonts.googleapis.com/css?family=Assistant:400,700');

html, body {
    font-family: "Assistant", sans-serif;
    color: #111;
    background: #fff;
    padding: 25px;
  }

  body {
    font-size: 16px;
    font-weight: 400;
  }

  strong {
    color: #2a3086;
    font-weight: 700;
  }
  
  h1 {
    font-size: 28px;
    font-weight: 700;
    color: #2a3086;
    margin: 1em 0 0.75em 0;
  }

  a {
    color: #1d7bcd;
  }