<!-- default list template - used for articles -->

{{ $navMenu := .Site.Menus.nav }} {{ partial "header" (dict "navMenu" $navMenu)}}

<div class="page-container">

    <div class="image-container page-top"></div>

    <div class="page-content">
        <h1>{{.Title}}</h1>
        <div>{{.Content}}</div>
        
        <div class="article-list">
            <h4 class="country">articles</h4>
            {{partial "articlelist" . }}
        </div>
    </div>  
</div>

<div class="pin-footer"></div>
{{partial "footer"}}

</body>

</html>