<!-- HTML head and opening body tag in header -->

{{ $navMenu := .Site.Menus.nav }} {{ template "partials/header.html" (dict "navMenu" $navMenu)}}

<div class="page-container">

    {{ range .Data.Pages }}
        {{if eq .Type "index" }}
            <div class="page-content">
                <h1>{{.Title}}</h1>
                <div>{{.Content}}</div>
                <p><a href="/stores" class="scroll-link btn btn-info" data-id="locations">find an iAMart store near you</a></p>
            </div>
        {{end}}
    {{ end }}

</div>

<div class="image-container home-image"></div>

<div class="pin-footer"></div>
{{template "partials/footer.html" . }}
</body>

</html>